@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

/*  Custom styles */

svg {
  display: none;
}

nav {
  background-color: rgba(245, 245, 245, 0.7);
  padding: 0 76px;
  width: 1440px;
  height: 100px;
  box-shadow: 0px 4px 4px 0px #00000040;

  /* border: solid 1px ; */
}
.nav-inner-container {
  padding-top: 11px;
  max-width: 1228px;
  max-height: 78px;
  /* border: 2px solid ; */
  position: absolute;
  top: 11px;
  left: 76px;
  right: 119px;
}
.register {
  background: #f47d31;
  width: 129px;
  height: 56px;
  display: flex;
  border-radius: 12px;
}
.social-button {
  color: rgba(60, 60, 60, 1);
  background-image: url("../src/assets/images/rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button h4 {
  font-size: 18px;
  line-height: 20px;
  color: #3c3c3c;
}

/* Mobile device */

/* Styles for screens with a maximum width of 767px (typical for mobile devices) */
@media screen and (max-width: 567px) {
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    box-shadow: none;
    background-color: transparent;
  }
  .nav-inner-container {
    position: static;
    width: 100%;
    min-width: 360px;
    height: 60px;
    padding: 0 0 0 21px;
  }
  .social,
  .social-button,
  .sections,
  .register {
    display: none;
    border: 2px solid #f47d31;
  }
  svg {
    display: block;
    width: 48px;
    height: 48px;
  }

  .logo {
    width: 72px;
    height: 50px;
  }
}
